[Default]
news_dir = "news"

# https://openai.com 
[OpenAI]
organization = "your-org-here"
api_key      = "your-key-here" 

# https://elevenlabs.io
[ElevenLabs]
api_key  = "your-key-here"
voice_id = "VR6AewLTigWG4xSOukaG"

[NewsFeeds]
primary            = "https://feeds.npr.org/1001/rss.xml"
secondary          = "https://www.chicagotribune.com/arcio/rss/category/news/?query=display_date:[now-1d+TO+now]&sort=display_date:desc"
primary_articles   = 3
secondary_articles = 2

[MarketReport]
ticker = "PANW"